header {
    width: 300px;
    height: 200px;
    background-color: green;
}

section {
    width: 300px;
    height: 200px;
    background-color: red;
}

.about-me {
    background-color: blue;
    width: 300px;
    height: 200px;
    margin: 10px;
    border: solid black 10px;
    border-radius: 15px;
}